*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    background-color: #451420;
    padding: 16px 0;
    color: #fff;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    border-bottom: 16px solid #0000002c;
    box-shadow: 1px 3px 3px black;
}
header button {
    margin-left: 16px;
}
form{
    background-color:#383838;
    padding: 24px 0;
    text-align: center;
    display: none
}
form h2{
    margin-bottom: 20px;
    color: #fff;
}
input,button{
    padding: 8px;
    border-radius: 3px;
}
button{
    background-color: #ff8c00;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color:#fff;
    cursor: pointer;
    
}
ul{
    display: block;
}
ul li{
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
    font-weight: bold;
}

